<web-app>
	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcome</servlet-name>
		<url-pattern>/hi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>welcome1</servlet-name>
		<servlet-class>display</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcome1</servlet-name>
		<url-pattern>/hii</url-pattern>
	</servlet-mapping>
</web-app>